<plugin id="org.dita-community.pdf-page-break">
  <feature extension="package.support.name" value="Force Page Break Plugin"/>
  <!-- 
  <feature extension="package.support.email" value="support@youremail.com"/> 
  -->
  <feature extension="package.version" value="1.0.0"/>
  <feature extension="dita.xsl.xslfo" value="pageBreak.xsl" type="file"/>
</plugin>
